.container-fluid{
    display:grid;
    grid-colum:1;
    gap-row:20px;
    padding:20px;
    justify-content: center;
}
#top{
    padding:10px;
    justify-content: center;
}
.navbar{
    background-color: #6e9181;
}
.navbar-nav{
    float:center;
}
.card{
    width:400px;
    text-align:center;
    box-shadow: 5px 5px 10px grey, -5px -5px 10px grey;
}
.card-body{
    background-color: #6b5ca3;
}
.carousel{
    width:400px;
}
#slide-info{
    visibility: hidden;
}
#hide{
    border: none;
}
